.tex {
	font-size:55px;
	text-shadow:0 0 5px #2C7DCD, 0 0 10px #298A9B, 0 0 15px #585E5E, 0 0 20px #4A4D4D, 0 0 30px #313232, 0 0 40px #333535, 0 0 55px #353736, 0 0 75px #2D4140;
	font-family:'Orbitron',sans-serif;
	text-align: center;
}